In [15]:
import pandas as pd

In [16]:
# Side (1 = left side / 0 = right side)
# Lipid_Volume (is INCLUSIVE of IPH) . Obtained for HU values < 60 HU
# Gender (male = 1, female = 0)

In [17]:
train1 = pd.read_excel("../input/Excel/train1.xlsx")
train2 = pd.read_excel("../input/Excel/train2.xlsx")
ext = pd.read_excel("../input/Excel/external.xlsx")

In [18]:
train1.shape, train2.shape, ext.shape

((200, 26), (40, 22), (106, 23))

# Drop unuseful columns

In [19]:
TO_DROP = ["id", "sub_id", "Unnamed: 25", 'side']

In [20]:
train1.drop(TO_DROP, axis=1, inplace=True, errors='ignore')
train2.drop(TO_DROP, axis=1, inplace=True, errors='ignore')
ext.drop(TO_DROP, axis=1, inplace=True, errors='ignore')

# Add IPH columns
Value is 1 if iph volume is greater than 0, 0 otherwise

In [21]:
train1.drop('iph', axis=1, errors='ignore', inplace=True)
train1['iph'] = (train1['iph_volume'] > 0).astype('uint8')
train2['iph'] = (train2['iph_volume'] > 0).astype('uint8')
ext['iph'] = (ext['iph_volume'] > 0).astype('uint8')

# Assign correct dtypes to columns

In [22]:
NUMERIC = ['plaque_volume', 'iph_volume', 'lipid_minus_iph',
           'lipid_volume', 'mixed_volume', 'calcium_volume', 'perc_lipid',
           'perc_mixed', 'perc_calcium', 'perc_iph', 'perc_lipid_minus_iph',
           'iph_total_lipid_ratio', 'age']
CATEGORICAL = ['symptoms', 'iph', 'hypertension', 'CAD', 
               'smoker', 'gender', 'diabetes', 
               'lipids', 'stenosis']

for s in [train1, train2, ext]:
    s[NUMERIC] = s[NUMERIC].astype('float64')
    s[CATEGORICAL] = s[CATEGORICAL].astype('category')

In [23]:
train = pd.concat([train1, train2], axis=0)

# Stats

In [26]:
symptomatic = ext[(ext["symptoms"] == 1)]
asymptomatic = ext[(ext["symptoms"] == 0)]

In [32]:
symptomatic[["age", "iph_total_lipid_ratio", "lipid_volume", "perc_lipid", "perc_iph"]].describe()

             age  iph_total_lipid_ratio  lipid_volume  perc_lipid   perc_iph
count  31.000000              31.000000     31.000000   31.000000  31.000000
mean   74.677419               0.544284    314.838710   27.970921  15.174637
std     8.471077               0.284670    231.644281   13.070911   9.870976
min    53.000000               0.000000     31.000000    8.189952   0.000000
25%    67.500000               0.462689    132.000000   17.214461   8.535179
50%    76.000000               0.644951    255.000000   25.160875  15.724563
75%    81.000000               0.744388    389.500000   37.978420  22.267727
max    89.000000               0.895928    883.000000   58.788282  32.775920

In [33]:
asymptomatic[["age", "iph_total_lipid_ratio", "lipid_volume", "perc_lipid", "perc_iph"]].describe()

             age  iph_total_lipid_ratio  lipid_volume  perc_lipid   perc_iph
count  75.000000              75.000000     75.000000   75.000000  75.000000
mean   74.080000               0.093547    201.333333   21.071599   2.533180
std     8.921217               0.167762    163.701057   10.876268   4.818231
min    55.000000               0.000000      1.000000    0.146199   0.000000
25%    67.000000               0.000000     75.000000   14.110963   0.000000
50%    76.000000               0.000000    153.000000   19.923858   0.000000
75%    81.000000               0.129330    272.000000   26.814658   2.833985
max    88.000000               0.885572    855.000000   59.251559  24.063281

In [34]:
train["gender"].value_counts()

1    180
0     60
Name: gender, dtype: int64

# Save datasets as .csv files

In [32]:
# save datasets as csv files

In [33]:
train.to_csv('../input/train.csv', index=False)
ext.to_csv('../input/external.csv', index=False)